<article>
  <h1>Work Experience</h1>

  <div class="timeline-content">
    <section data-year-label="2020">
      <h2>Software Developer</h2>
      <h3>
        <a href="https://nedap.com/">Nedap N.V. - Groenlo, NL</a>
      </h3>
      <h4>November 2019 - June 2020</h4>

      <ul>
        <li>
          Focus on front-end development for Helder, a responsive application for communication between general practitioner,
          and other care professionals</li>
        <li>Migration project from AngularJs to Angular</li>
      </ul>
    </section>

    <section data-year-label="2019">
      <h2>Software Engineer</h2>
      <h3>
        <a href="https://tradeshift.com/">Tradeshift Inc. - San Francisco, USA</a>
      </h3>
      <h4>November 2015 - March 2019</h4>
      <ul>
        <li>
          Contributed to various microservices using Node.js, PHP, Java, Ruby, AngularJS, JavaScript and Docker with main
          focus on frontend development</li>
        <li>Debugging and refactoring on legacy stacks in Grails, and Java</li>
        <li>Wrote end to end tests and unit test</li>
        <li>Provided complete documents on solutions for support team</li>
      </ul>
    </section>

    <section data-year-label="2015">
      <h2>Digital Music Expert / QA Localization Specialist</h2>
      <h3>
        <a href="https://www.apple.com/">Apple Inc. - Cupertino, USA</a>
      </h3>
      <h4>March 2015 - June 2015</h4>

      <ul>
        <li>I worked as a contractor on-site at Apple in Silicon Valley</li>
        <li>
          Conducted confidential, cross-­cultural research and advised on product strategy for the digital music markets in
          Belgium and The Netherlands</li>
        <li>Increased team’s productivity by over 20% leveraging advanced Excel functions</li>
        <li>Recognized by management for quality of technical and creative writing</li>
      </ul>
    </section>

    <section data-year-label="2014">
      <h2>Senior Insurance Consultant</h2>
      <h3>
        <a href="https://www.marisstella.be/">Talent&Pro - Utrecht, NL</a>
      </h3>
      <h4>April 2011 - September 2014</h4>

      <ul>
        <li>Worked as a consultant in various Dutch insurance companies, including AXENT, Mandema&Partners, and Centraal Beheer Achmea</li>
        <li>Completed more than 20 external and company-sponsored training courses</li>
      </ul>
    </section>

    <section data-year-label="2010">
      <h2>Administrator Creditors</h2>
      <h3>
        <a href="https://www.ns.nl/over-ns/treinonderhoud">NedTrain - Utrecht, NL</a>
      </h3>
      <h4>July 2010 - December 2010</h4>

      <ul>
        <li>Booking and paying bills in SAP</li>
        <li>Assisted in implementation and testing of Bassware bills scanning software</li>
      </ul>
    </section>

    <section data-year-label="2009">
      <h2>Executive Administrative Assistant</h2>
      <h3>
        <a href="http://www.axxon.be/">Axxon - Antwerp, NL</a>
      </h3>
      <h4>July 2009 - December 2009</h4>

      <ul>
        <li>Organized weekly meetings and prepared conference rooms, documents and presentations</li>
        <li>
          Prepared and sent orders to our members, created invoices, collected payments, paid bills, and performed all
          related bookkeeping tasks</li>
        <li>Helped with editing the 2010 member's handbook</li>
      </ul>
    </section>
  </div>
</article>
