<h1>Contact</h1>
<div class="menu" id="menu">
  <div class="item item1">
    <a href="https://github.com/cindyvandooren">
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="item item2">
    <a href="mailto:cindy.vandooren@gmail.com">
      <i class="fa fa-at"></i>
    </a>
  </div>
  <div class="item item3">
    <a href="https://www.linkedin.com/in/cindyvandooren/">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div class="item item4">
    <a class="small" href="https://www.facebook.com/cindy.vandooren">
      <i class="fa fa-facebook"></i>
    </a>
  </div>
  <div class="item item5">
    <a class="wide" download="Resume Cindy Van Dooren" target="_blank" href="/assets/resume/ResumeCindyVanDooren.pdf">
      <i class="fa fa-download"></i>
    </a>
  </div>
  <div class="item item6">
    <a class="extra-wide" href="https://www.codewars.com/users/cindy.vandooren">
      <i class="fa fa-code"></i>
    </a>
  </div>
</div>
