<article>
  <div class="intro">
    <div class="header-intro">
      <h1>Cindy Abelmann-Van Dooren</h1>
      <h2>Software Developer</h2>
      <h3>"Passionate about making an impact on society by solving problems with creativity and logic"</h3>
    </div>

    <div class="hexagon-wrapper">
      <div class="hexagon">
        <div class="hexagon-inside">
          <div class="hexagon-image"></div>
        </div>
      </div>
    </div>
  </div>

  <section class="row">
    <p>While taking a minor in insurance as a part of my master's degree in business administration at university,
      I got particularly interested in microinsurance and how insurance products can have a big positive impact on
      a person's life and improve solidarity in a society. I began my professional career as an insurance consultant
      and as a part of the actuarial classes I was taking for work, I set foot in the world of code for the first
      time.</p>
    <figure>
      <picture>
        <source
          srcset="../../../../assets/images/antwerp-200-1.jpeg 200w,
                  ../../../../assets/images/antwerp-200-2.jpeg 200w 2x"
          media="(min-width: 20px) 200px,
                  200px">
        <img src="../../../../assets/images/antwerp-200-2.jpeg"
              alt="Antwerp skyline">
      </picture>
      <figcaption>Antwerp city center</figcaption>
    </figure>
  </section>
  <!-- TODO: add aria -->
  <section class="row reverse">
    <p>Shortly after that, I followed my husband to Silicon Valley and with some extra spare time on my hands I took
      several online Python courses and found my passion for coding. I enjoyed it so much that I decided to apply to
      App Academy and make a career change. After finishing this intensive coding boot camp, I joined Tradeshift where
      I could combine my interests in economics, the financial industry, and coding. I was able to learn so much while
      working at Tradeshift and it has only made me more passionate about making the world a better place using code.</p>
    <figure>
      <picture>
        <source
          srcset="../../../../assets/images/sanfran-200-1.jpeg 200w,
                  ../../../../assets/images/sanfran-200-2.jpeg 200w 2x"
          media="(min-width: 20px) 200px,
                  200px">
        <img src="../../../../assets/images/sanfran-200-2.jpeg"
              alt="San Francisco skyline">
      </picture>
      <figcaption>San Francisco center</figcaption>
    </figure>
  </section>

  <section class="row">
    <p>I enjoy combining creativity and logic to create beautiful products that can transform the lives of people all
      around the world. I like the teamwork involved in this creative process and the feeling of accomplishment when
      solving the puzzles bugs and new functionality present. To me, coding really is an art and being able to code
      makes me feel like I can make a difference in the world.</p>
    <figure>
      <picture>
        <source
          srcset="../../../../assets/images/utrecht-200-1.jpeg 200w,
                  ../../../../assets/images/utrecht-200-2,5.jpeg 200w 2.5x"
          media="(min-width: 20px) 200px,
                  200px">
        <img src="../../../../assets/images/utrecht-200-2,5.jpeg"
              alt="Utrecht skyline">
      </picture>
      <figcaption>Utrecht city center</figcaption>
    </figure>
  </section>
</article>
